html {
  font-family: 'Baloo 2', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  /* Better Font Rendering */
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-ligatures: no-common-ligatures;
}


body{
  /* Prevent Safari from zooming when you click buttons */
  touch-action: manipulation;
  overflow: hidden;
}


.site-wrapper {
  width: 100%;
  height: 100%;
}

.site-container {
  position: relative;
  z-index: 20;
}

.triangle-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.button {
  cursor: pointer;
}

.button-label {
  position: absolute;
  color: black;
  pointer-events: none;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}


.emotion-determined {
  fill: #FFF3A8;
  stroke: #FFF3A8;
  stroke-width: 1;
}
.emotion-afraid {
  fill: #91C8EC;
  stroke: #91C8EC;
  stroke-width: 1;
}
.emotion-sad {
  fill: #22A5D9;
  stroke: #22A5D9;
  stroke-width: 1;
}
.emotion-stressed {
  fill: #BADDFF;
  stroke: #BADDFF;
  stroke-width: 1;
}
