html {
  font-family: Arial, Helvetica, sans-serif;

  /* Better Font Rendering */
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-ligatures: no-common-ligatures;
}


body{
  /* Prevent Safari from zooming when you click buttons */
  touch-action: manipulation;
  overflow: hidden;
  padding: 30px;
  background-color: black;
  color: white;
}

.display {
  font-size: 60px;
  font-weight: lighter;
  margin: 0;
  text-shadow: 0 0 30px black, 0 0 30px black, 0 0 30px black;
}

.button {
  background-color: #2288FF;
  color: #FFFFFF;
  transition: color 0.5s;
  text-decoration: none;
  cursor: pointer;
  min-height: 56px;
  min-width: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  user-select: none;
  border: none;
  white-space: pre-line;
  margin: 10px;
}

.button:hover {
  background-color: #1877EE;
}

.button:active {
  background-color: #1155BB;
}

.button.is-loading {
  color: #0000;
}

.site-wrapper {
  width: 100%;
  height: 100%;
  display: table;
}

.site-container {
  padding-bottom: 200px;
  text-align: center;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  z-index: 20;
}

.console {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1;
  word-break: break-all;
  font-size: 60px;
}

.emotion-joy {
  color: yellow;
}
.emotion-scared {
  color: lightblue;
}
.emotion-sad {
  color: blue;
}
.emotion-angry {
  color: red;
}
